<div class="landingPage">
  <div class="landingPage--applicants">
    <div class="landingPage--text">
      <p>
        <a href="/applicants">Applicants</a>
      <p>
      <p class="landingPage--number">{{numberOfApplicants}}</p>
    </div>
  </div>

  <div class="landingPage--applicants shortlisted">
    <div class="landingPage--text">
      <p>Applicants Shortlisted</p>
      <p class="landingPage--number">{{numberOfShortlisted}}</p>
    </div>
  </div>
</div>
